.starability-heart {
    min-height: 40px;
    margin-top: 24px;
} 

@media (max-width: 576px) {
    .carousel-inner {
        height: 300px;
        
    }
    .img-carousel {
        max-height: 300px;
        object-fit: cover;
        object-position: center;
    }
    .card-title {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }
    .edit-delete-camp {
        display: flex;
        justify-content: space-evenly;
    }
    .starability-heart {
        margin-top: 26px;
    }
    .review-author {
        text-align: start;
    }
    .review-description {
        text-align: start;
    }

}