<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container d-flex justify-content-center align-items-center mt-5 login-container">
  <div class="row w-100">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
          <img src="https://res.cloudinary.com/dvwri8zij/image/upload/w_600/v1733681408/premium_photo-1682390303852-339e1a46ea2f_dztmu6.jpg" class="card-img-top" alt="" crossorigin="anonymous">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
        <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" autofocus required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                    Please provide a username.
                  </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                    Please provide a password.
                  </div>
            </div>
            <div class="d-grid">
            <button class="btn btn-success">Login</button>
          </div>
        </form>
      </div>  
      </div>
      </div>
  </div>
</div>