<% layout('layout/boilerplate') -%>
<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container d-flex justify-content-center align-items-center mt-5 register-container">
  <div class="row w-100">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-n3">
        <div class="card shadow">
          <img src="https://res.cloudinary.com/dvwri8zij/image/upload/w_600/v1733681936/photo-1510312305653-8ed496efae75_nee55e.jpg" class="card-img-top" alt="" crossorigin="anonymous">
          <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form action="/register" method="post" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                    <div class="invalid-feedback">
                        Please provide a username.
                      </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a email.
                    </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                    <div class="invalid-feedback">
                        Please provide a password.
                      </div>
                </div>
                <div class="d-grid">
                <button class="btn btn-success">Register</button>
            </div>
            </form>
      </div>  
      </div>
      </div>
  </div>
</div>

